<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Comentamos la configuración de SQL Server para usarla cuando sea necesario -->
        <!--
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">
            jdbc:sqlserver://26.30.90.3:1433;databaseName=GestorTorneos;encrypt=false
        </property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">P@ssw0rd</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        -->

        <!-- Configuración de SQLite -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:GestorTorneos.db</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <!-- Configuraciones específicas para SQLite -->
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Mostrar consultas en consola -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Opciones de creación de tablas -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Clases mapeadas -->
        <mapping class="com.gestorfutbol.entity.Equipo"/>
        <mapping class="com.gestorfutbol.entity.Jugador"/>
        <mapping class="com.gestorfutbol.entity.JugadorPartido"/>
        <mapping class="com.gestorfutbol.entity.Partido"/>
        <mapping class="com.gestorfutbol.entity.TablaPosiciones"/>
        <mapping class="com.gestorfutbol.entity.Torneo"/>

    </session-factory>
</hibernate-configuration>